@import "../../vars";

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-footer {
  background-color: $primary;
  color: $secondary;
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.App-footer-Brand {
 width: 50%;
 margin-left: auto;
 margin-right: auto;
 border-bottom: 1px solid;
 margin-bottom: 10px;
}

.App-page-title {
  margin-top: 30px;
  margin-bottom: 20px;
}

.App-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.App-tiles-button {
  width: 250px;
  height: 250px;
  display: inline-block;
  margin: 10px 10px;
  background-color: lightgray;
  line-height: 250px;
}

.App-tiles-button:hover {
  background-color: $secondary;
  cursor: pointer;
}

.App-news-list {
  width: 100%;
}

.App-news {
  border-bottom: 1px solid gray;
  margin: 10px 0;
  padding: 5px 0;
}

.App-news-title {
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  padding: 0 20px;
}

.App-news-date {
  color: rgb(104, 103, 103);
  text-align: left;
  padding: 0 20px;
}

.App-news-content {
  text-align: left;
  text-indent: 20px;
}

.Schedule-naviButtons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  margin-top: 20px;
}

.IntervalEvent {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  color: white;
  background-color: $secondary;
  font-size: 13px;
  border-radius: 5px;
}

.calendarModal__content {
  border: none !important;
  background: none !important;
  padding: 0 !important;
  border-radius: 0 !important;
}

.App-register-form {
  width: 50%;
}

.App-register-alert {
  width: 100%;
}

.App-user-list {
  width: 100%;
}

.App-user-row {
  border-bottom: 1px solid darkgray;
  height: 60px;
  padding: 5px 5px;
}

.App-user-row:hover {
  background-color: $secondary;
  cursor: pointer;
}

.App-user-role {
  font-size: 13px;
  color: #4e4e4e;
}

.App-edit-user-button {
  margin: 20px auto;
  display: block;
}

.App-edit-news-button:hover {
  cursor: pointer;
}

.App-blog-content {
  text-align: center;
}

.App-blog-image {
  max-height: 400px;
}

.App-blog-votes {
  margin-top: 10px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}